[Desktop Entry]
Type=Application
Name=Rusty's Snout - Firmware Explorer
GenericName=Firmware Explorer
Comment=Inspect embedded firmware memory usage
Exec=snout %f
Icon=snout
Terminal=false
Categories=Development;Electronics;
Keywords=Snout;firmware;elf;embedded;memory;
StartupWMClass=snout
